@{
    ViewData["Title"] = "Home Page";

}
<style>
    .keyFrames {
        animation: slidein 2s;
    }
    @@keyframes slidein {
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

</style>
<div class="text-center">
    <div class="keyFrames">
        <h1 class="display-4">Library APP</h1>
    <p>Application for managing LibraryItems, Categories and Employees.</p>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <button content="Primary" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="LibraryItems" asp-action="Index">LibraryItems</a>
            </button>
            <button content="Primary" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
            </button>
            <button content="Primary" class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
            </button>
        </div>
    </div>
</div>
