@{
    ViewData["Title"] = "Home Page";

}
<style>
    .keyFrames {
        animation: slidein 2s;
    }

    @@keyframes slidein {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    
</style>
<div class="keyFrames">
    <div class="jumbotron card card-image text-center"  style="background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.nytimes.com%2F2019%2F12%2F18%2Fbooks%2Flong-books-vacation.html&psig=AOvVaw2Dh34Kz7fcviopjCz1GZn6&ust=1604158970388000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIiUx4HU3OwCFQAAAAAdAAAAABAE);">
        <h1>Library App</h1>
        <p>Application for managing LibraryItems, Categories and Employees.</p>
    </div>
    <div class="text-center">
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-sm-4">
                    <h2>The app</h2>
                    <p>Hi and thanks for taking the time to investigate my Library APP. This ASP.NET application is made in ASP.NET CORE, and the backend consist of an ClassLibrary that is connected with the front end. (hence LibraryBackEnd and LibraryFrontEnd of the two projects in the solution). The database is created through Entity Core Framework and the models for creaing the DB entities consists of classes med for each entity (Category, Employees, LibraryItem).   </p>
                    <h4>Who made this awesome application?</h4>
                    <h5><b>Erik Holm</b></h5>
                    <p>Software developer graduate and working programmer from Tranås (a small city near Jönköping which is famous for Lennart Hyland and STIGA)</p>
                    <h5>My contact information:</h5>
                    <p><b>Mobilephone: 0703982043</b></p>
                    <p><b>erikholm97@gmail.com</b></p>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="https://se.linkedin.com/in/erikholm97">Linkedin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/erikholm97/">Instagram</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/erikholm97">GITHUB</a>
                        </li>
                    </ul>
                    <hr class="d-sm-none">
                </div>
                <div class="col-sm-4">
                    <h3>Library items</h3>
                    <button content="Primary" class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="LibraryItems" asp-action="Index">LibraryItems</a>
                    </button>
                    <p>List of Library items. In this page you can create,edit and delete library Items. If an item is borrowable you can checkout the item and select whom and when it was borrowed.</p>
                    <h3>Categories</h3>
                    <button content="Primary" class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                    </button>
                    <p>List of Categories. In this page you can create,edit and delete Categories for your library Items.</p>
                </div>
                <div class="col-sm-4">
                    <h3>Employees</h3>
                    <p>List of Employees. In this page you can create,edit and delete depending on what type of employee you are.</p>
                    <button content="Primary" class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Employees" asp-action="Index">Employees</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
