@{
    ViewData["Title"] = "Info";
}
<div class="text-left" >
        <h1>Explination</h1>
        <p>To use the library app. Select one of the buttons displayed in Home.</p>
        <p>In "Categories" you can manage and create categories for your LibraryItems.</p>
        <p>In "LibraryItems" you can manage and create Libraryitems</p>
        <p>In "Employees" you can se a list of Users in the Application. You can manage them by pressing "Manage Employees.</p>
    <p>In Manage Employees you select what kind of user you are (CEO, Manager, Employee). Based on what  that user has, you can manage certain kind of users. </p>
    <h1>The DATABASE</h1>
    <p>In the database some values in the Entitys have fields that is set to required not required even though the the CONSID task has not made this obligatory. </p>
    <p>For instance certain fields for entity is allowed to be null (Like borrower) in this application. This to make checkout and checkin work as it is intended in the application. (For instance when a user checks in a library item, the borrower in this application is sett to null). </p>
    <p>Feel free to contact me if there are any questions regarding the intentions of certain functionality if something is unclear.</p>
        <h3>How to CREATE the database.</h3>
        <p>This project uses Entity Core framework.</p>
        <p>The database is not included with the project.</p>
        <p>To update the database open Powershell, write the following in the root folder (urPathTotheProjects/LibraryBackEnd):</p>
        <p>dotnet ef migrations add Final</p>
        <p>dotnet ef database update</p>
    <p><b>This creates the database from the classes specified in LibraryContext</b></p>
    <h1>Employees information</h1>
    <p>When choosing what type of employee you are, select the dropdownlist in (Select what type of user u are:)</p>
    <p>The dropdownlist lists all employees that exist in the library system.</p>
    <p>Depending on what id you choose, the system returns a view with the rights of that specific user (CEO, Manager or Employee).</p>
    <p>Submit takes you to that view of the choosen user.</p>
</div>