@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>To use the library app. Select one of the buttons displayed in Home.</p>
<p>In "Categories" you can manage and create categories for your LibraryItems.</p>
<p>In "LibraryItems" you can manage and create Libraryitems</p>
<p>In "Employees" you can se a list of Users in the Application. You can manage them by pressing "Manage Employees.</p>
<p>In Manage Employees you select what kind of user you are (CEO, Manager, Employee). Based on what  that user has, you can manage certain kind of users. </p>
