
@{
    ViewData["Title"] = "Information";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Delete the current CEO to make a new one.</p>
<div>
    <a asp-action="Index">Back to List of employees.</a>
</div>

